# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


# зауваження, які отримані 07042025 при спробі здати ДЗ

# Завдання вирішено неправильно (файл render-functions)

# Завдання не прийнято

# Добре виконані аспекти:

# Рішення правильно імпортує та налаштовує SimpleLightbox для потенційного використання при рендерингу галереї.
# Функція createGallery успішно генерує необхідну HTML-розмітку з наданих даних зображень, використовуючи шаблонні рядки для ефективності.
# Функції для керування видимістю завантажувача (showLoader і hideLoader) були реалізовані правильно.
# Критичні проблеми:

# Функція createGallery не оновлює екземпляр SimpleLightbox за допомогою методу refresh(), як це вимагається технічною специфікацією. Цей крок забезпечує ініціалізацію або оновлення функціоналу lightbox з новими зображеннями, доданими до DOM.
# Не відбулася ініціалізація екземпляра SimpleLightbox; ця упущення означає, що функціонал lightbox не працюватиме належним чином.
# Перенесіть функцію з файлу main.js
# Рішення:

# Завдання не було прийнято



# Результати  (!!!! при першій спробі дати ДЗ 06042025 отримав такий фідбек !!!!!!)
# Завдання вирішено правильно (файл main)

#  Завдання прийнято

# Добре виконані аспекти:

# Поведінка за замовчуванням для відправлення форми ефективно запобігається за допомогою evt.preventDefault().
# Відповідна валідація введених даних здійснюється для забезпечення того, що форма не відправляється з порожнім запитом пошуку. Використання сповіщень iziToast для зворотного зв'язку реалізовано добре.
# Видимість індикатора завантаження коректно перемикається під час виклику API та обробки відповіді.
# Галерея очищається перед завантаженням нових зображень, що відповідає вимогам специфікації.
# Функція getSearch ефективно використовується для отримання даних з Pixabay API, що демонструє гарну розділеність коду за принципами стурбованості.
# Обробка відповідей API є детальною, з належними сповіщеннями як для успішних, так і для неуспішних пошуків, включаючи обробку помилок.
# Остаточне рішення:

#  Завдання прийнято


# Завдання вирішено правильно (файл pixabay-api)

#  Завдання прийнято

# Добре виконані аспекти:

# Функція успішно інтегрує бібліотеку axios для виконання HTTP GET запитів.
# Коректні параметри запиту (q, key, image_type, orientation, та safesearch) включені відповідно до специфікації.
# Параметр searchText правильно обробляється для урахування пробілів шляхом заміни їх на +.
# Забезпечено резервний варіант через сповіщення про помилки за допомогою iziToast, що покращує користувацький досвід, незважаючи на те, що обробка помилок є необов'язковою.
# Остаточне рішення:

#  Завдання прийнято


# Завдання вирішено неправильно (файл render-functions)

#  Завдання не прийнято

# Добре виконані аспекти:

# Функція генерації розмітки правильно використовує всі властивості з масиву зображень для побудови HTML структури, дотримуючись технічних вимог для відображення зображень.
# Додаткові пропозиції:

# Переконайтеся, що всі зазначені функції реалізовані. Це включає створення функцій для рендерингу галереї, очищення галереї та керування видимістю лоадера.
# Критичні проблеми:

# Завдання вимагає реалізації додаткових функцій для рендерингу галереї, очищення вмісту та керування видимістю лоадера, які наразі відсутні. Це критичні аспекти, зазначені в технічній специфікації.
# Остаточне рішення:

#  Завдання не було прийнято

# Навчання не завжди легке, але завжди приносить користь 💪

# Давай підсумуємо, що вже зроблено у модулі 11.

# Щоб перевірити себе, переконайся, що ти знаєш:

# у чому різниця між протоколами HTTP і HTTPS
# основні HTTP-методи та як їх застосовувати
# що таке CRUD
# як взаємодіяти з бекендом
# Прийшов час на практиці закріпити ці знання при створенні свого застосунку.



# Домашнє завдання №11



# Створи репозиторій goit-js-hw-11.
# Збери проєкт за допомогою Vite. Ми підготували для тебе готову збірку з усіма додатковими налаштуваннями проєкту та рекомендуємо використовувати саме її.
# Для HTTP-запитів використовуй бібліотеку Axios.
# Прочитай завдання і виконай його в редакторі коду.
# Переконайся, що код відформатований за допомогою Prettier, а в консолі відсутні помилки й попередження під час відкриття живої сторінки завдання.
# Здай домашнє завдання на перевірку.

