.head {
  display: flex;
  flex-direction: column;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 10px;
  flex-direction: row;
}
.input-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 200px;
}
#datetime-picker {
  position: relative;
  border: 1px solid gray;
  border-radius: 4px;
  width: 350px;
  padding: 7px 15px;
  color: inherit;
}

[data-start] {
  margin-left: 20px;
  font-weight: 500;
  width: 120px;
  border: 1px solid gray;
  border-radius: 4px;
  color: rgb(29, 28, 28);
  background-color: transparent;
  cursor: pointer;
  font-size: 18px;
}

[data-start]:hover {
  background-color: #3e6bbe;
  color: white;
}

[data-start]:disabled {
  color: #989898;
  background-color: #cfcfcf;
  cursor: default;
}

.timer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 32px;
  display: flex;
  gap: 20px;
  font-size: 28px;
}

.page-btn {
  background-color: transparent;
  max-width: 95px;
  padding: 10px;
  font-size: 14px;
  border: 1px solid gray;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  color: grey;
}

.page-btn:hover,
.page-btn:focus {
  background-color: #3e6bbe;
  color: white;
}
