body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 10px;
  flex-direction: row;
}

.page-btn {
  background-color: transparent;
  max-width: 95px;
  padding: 10px;
  font-size: 14px;
  border: 1px solid gray;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  color: grey;
}

.page-btn:hover,
.page-btn:focus {
  background-color: #3e6bbe;
  color: white;
}

a {
  text-decoration: none;
  color: grey;
}
a:hover {
  color: white;
}
h1 {
  font-weight: 300;
}
